body{
    background-color: #f2f2f2;

}
header{
    background-color: #fefefe;
}
ul,h5{
    list-style-image: url("/images/bullet.png");
    padding-left: 10px; ;
}
.favorite{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #f60b26;
    color: #f2f2f2;
}
.menu{
border: 0px solid black;

border-radius: 5px;
margin: 30px;
box-shadow: lightgray 5px 5px 5px 5px;
}
summary{
    display: inline-flex;
    align-items: flex-end;
    margin-left: 10px;
    background-color: #fefefe;
}
p{
    margin-left: 10px;
    
}
details{
    background-color: #fefefe;
}